<div class="container">
    <div>
    <h2>Modifier un Pc :</h2>
    </div>
    <form #formRef="ngForm" (ngSubmit)="updatePc()">
        <div  class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Pc</label>
    <input readonly type="text" [(ngModel)]="currentPc.idPc"
    name="idPc" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Pc</label>
    <input type="text"[(ngModel)]= "currentPc.nomPc"
    name="nomPc" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prix Pc</label>
    <input type="number" [(ngModel)]= "currentPc.prixPc"
    name="prixPc" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
<input type="date" [ngModel]="currentPc.dateCreation | date: 'yyyy-MM-dd'"
(ngModelChange)=" currentPc.dateCreation= $event" name="dateCreation"
 class="form-control">
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <select class="form-control form-control-lg" id="idMarque" name="idMarque"
    [(ngModel)]="updatedMarId">
    <option *ngFor="let cat of marques" [value]="cat.idMarque" >
    {{cat.nomMarque}}
    </option>
    </select>
    </div>
    
<div class="mt-2">
    <button type="submit" class="btn btn-success">Modifier</button>
</div>
</form>
</div>